# ignore vscode directory
.vscode
.DS_Store

# ignore jupyter files
jupyter
jupyter/*
*.ipynb
.ipynb_checkpoints

# ignore test csv result files
./db/results
db/old_results/*
db/results/*
./db/*.ipynb
./db/.ipynb_checkpoints
./db/*.csv

# ignore html directory
html
html/*
# ignore pyc files
*.pyc
src/*.pyc
# ignore .env file
.env
# ignore dev files
./src/queue.py
main_dev.py
# ignore pyenv python version file
.python-version